/* content container styles */

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

/* header styles */

.header {
  width: 100vw;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem;
}

/* form styles */

.form {
  width: 50vw;
  margin: 3rem auto;
  margin-bottom: 1rem;
}

.form__input-field {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__text-field {
  line-height: 1.5;
  padding: 1.5rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: #484a4e;
  color: #fff;
}

.form__label {
  position: absolute;
  top: 5px;
  left: 0.5rem;
  font-size: 12px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  padding-right: 5px;
  margin-left: auto;
  margin-bottom: 0.5rem;
}

.checkbox__label {
  font-size: 12px;
}

/* output styles */

.output {
  width: 50vw;
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.output__header-text {
  font-size: 12px;
  margin-bottom: .5rem;
}

.output__main-content {
  font-size: 1.5rem;
}
